<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center text-black text-bold">
      <h1 class="display-4">Alpha Blog</h1>
     <mark> <p class="lead">You Can Start Your Article Writing From Here.</p></mark>
      <hr class="my-4">
    
        <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
    </div>
 
  </div>
</div>
<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>